/*
 *  Filename: styles.css
 *  Description: Appearance configuration the cylindrical display preview.
 *
 *  Version: 2024.11
 *  Author: Nico Reski
 *  GitHub: https://github.com/nicoversity
 */

body {
    margin: 20px;
    background-color: #494D51;
    background-image: url('./public/foggy_forest.png');
    background-repeat: repeat no-repeat;
    background-size: auto 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
